html, body {
    width: 100vw;
    height: 100vh;
    padding: 0;

    color: #fff;
    background: #111;

    overflow: hidden;
    font-family: monospace;
    font-size: 24px;
}

#left-div {
    position: fixed;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
#right-div {
    position: fixed;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
#input, #output {
    height: 100%;
    font-size: 18px;
    resize: none;
}
#input {
    background-color: #020;
    color: #fff;
}
#output {
    background-color: #002;
    color: #fff;
}
